@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
}

h1 {
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 120px;
  font-family: "Pacifico", cursive;
  color: white;
}

strong {
  color: white;
}

form {
  width: 40%;
  margin: auto;
  padding-top: 50px;
}

button.btn.btn-primary {
  margin: auto;
  display: flex;
  color: white;
  background-color: black;
  border: none;
}

input.form-control {
  box-shadow: 2px 2px 0 2px;
}

button.swal2-confirm.swal2-styled {
  color: white;
  background: violet;
}
